.cont {
  padding: 120px;
  margin: 0 auto;
  font-size: 12px;
  && ul,
  li {
    list-style-type: none;
  }
}
.cont ul {
  max-height: 100vh;
}
.cont li {
  background: #f3ecfc;
  margin-bottom: 24px;
  gap: 8px;

  border-radius: 8px;
  text-align: center;
  padding: 24px;
  &&:hover {
    background: #c9c3d1;
  }
}
